body{
	background: url(../img/fondo2.jpg);
	margin: 0;
	
}
header{
	background: #052A26;
	padding: 10px;
	width: 115%;
	color:white;
}
div{
	box-sizing: border-box;
}
header h1{
	margin: 0;
}
.fotos{
	background: #4A5AE5;
	margin-top: 10px;
	color:white;
	border-radius: 7px;
}
div.fotos img{
	width: 100%;
}
div.fotos .foto-cabeza div:first-child{
	display: inline-block;
	width: 80%;
	color: lightgrey;
	

}
div.fotos .foto-cabeza div:last-child{
	display: inline-block;
	width: 20%;
	padding: 8px;
	text-align: right;
	color:#11F706;
	

}
div .fotos h2, div.fotos p{
	padding: 10px;
	margin: 0;

}
div.caja{
	width: 600px;
	margin:auto;
}
